<%= @player_1_name %> vs. <%= @player_2_name %>
<br/><%= @player_1_name %>: <%= @player_1_hp %>HP
<br/><%= @player_2_name %>: <%= @player_2_hp %>HP

<form action='/attack' method='post'>
  <input type='hidden' name='attacking' value='true'>
  <input type='submit' value='Attack'>
</form>

<% if @attacked %>
  <p> <%= @attacker %> attack successful! </p>
<% end %>
